/* FOTO / AVATAR */
.login-logo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e5e7eb;
    padding: 4px;
    background: #fff;
    transition: all 0.25s ease;
    cursor: pointer;
}

/* HOVER */
.login-logo:hover {
    transform: scale(1.08);
    border-color: #22c55e;
    box-shadow: 0 8px 20px rgba(34, 197, 94, 0.25);
}

/* ACTIVE (click) */
.login-logo:active {
    transform: scale(0.96);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn{
    transition: all 0.25s ease;
}
.btn:hover{
    transform: scale(1.02);
}

.btn:active{
    transform: scale(0.98);
}