/* ══════════════════════════════════════════════════════════════════════════════════════ */

/* BOTÓN GUARDAR */
.guardar { background-color: #2172f5; transition: background-color 0.2s ease; transition: all 0.15s ease; color: white; }
.btn.guardar:hover { background-color: #1139ee; color: white; }
.btn.guardar:active { background-color: #1139ee; color:white; transform: scale(0.90); }

/* BOTÓN ACTUALIZAR */
.actualizar { background-color: #2172f5; transition: background-color 0.2s ease; transition: all 0.15s ease; color: white; }
.actualizar:hover { background-color: #1139ee; color: white; }
.btn.actualizar:active { background-color: #1139ee; color:white; transform: scale(0.90); }

/* BOTÓN CANCELAR */
.cancelar { background-color: #f74242; transition: background-color 0.2s ease; transition: all 0.15s ease; color: white; }
.btn.cancelar:hover { background-color: #fc0000; color: white; }
.btn.cancelar:active { background-color: #fc0000; color:white; transform: scale(0.90); }

/* ══════════════════════════════════════════════════════════════════════════════════════ */

button:disabled,
.btn:disabled,
.btn.disabled {
    opacity: 0.55 !important;
    cursor: not-allowed !important;
    pointer-events: none;
    filter: grayscale(15%);
    transition: all 0.2s ease;
    box-shadow: none !important;
}

/* ══════════════════════════════════════════════════════════════════════════════════════ */

.btn-detalle, .btn-editar, td .btn-baja, .btn-alta, .estado, .btn-transferir, 
.agregar-saldo, .retirar-saldo, .pagar-gasto, .editar-gasto, .estado-pendiente, .agregarProducto{
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 4px;
    font-weight: 400;
    transition: all 0.15s ease;
}

.btn i { font-size: 14px; } /* Icono Detalle */

/* ══════════════════════════════════════════════════════════════════════════════════════ */

/* BOTON DETALLES*/
.btn-detalle { background-color: #0d6efd; color:white; }
.btn-detalle:hover { background-color: #0c5cd3; color:white; }
.btn.btn-detalle:active { background-color: #0c5cd3; color:white; transform: scale(0.90); }

/* BOTON DE TRANSFERIR */
.btn-transferir { background-color: #198754;color: white; }
.btn-transferir:hover { background-color: #157347;color: white; } 
.btn-transferir:active { background-color: #146c43; color: white; transform: scale(0.90); }

/* BOTON DE AGREGAR SALDO */
.agregar-saldo { background-color: #198754; color: white; }
.agregar-saldo:hover { background-color: #157347; color: white; }
.btn.agregar-saldo:active { background-color: #146c43; color: white; transform: scale(0.90); }

.retirar-saldo { background-color: #ffc107; color: black; }
.retirar-saldo:hover { background-color: #e0a800; color: black; }
.btn.retirar-saldo:active { background-color: #d39e00; color: black; transform: scale(0.90); }

/* BOTON PAGAR */
.pagar-gasto { background-color: #198754; color: white; }
.pagar-gasto:hover { background-color: #157347; color: white; }
.btn.pagar-gasto:active { background-color: #146c43; color: white; transform: scale(0.90); }

/* BOTON ACTIVAR*/
.btn-alta { background-color: #0d6efd; color:white; }
.btn-alta:hover { background-color: #0c5cd3; color:white; }
.btn.btn-baja:active { background-color: #0c5cd3; color:white; transform: scale(0.90); }

/* BOTON EDITAR */
.btn-editar{ background:#22c55e; color:white; }
.btn-editar:hover{ background:#16a34a; color:white; }
.btn.btn-editar:active { background:#16a34a; color:white; transform: scale(0.90); }

/* BOTON DAR DE BAJA */
.btn-baja{ background:#ef4444; color:white; }
.btn-baja:hover{ background:#dc2626; color:white; }
.btn.btn-baja:active { background:#dc2626; color:white; transform: scale(0.90); }

.estado-activo{ background:#22c55e; color:white; } /* ACTIVO */
.estado-inactivo{ background:#ef4444; color:white; } /* INACTIVO */
.estado-pendiente{ background-color: #ef4444; color: white; } /* PENDIENTE */
