:root{
    --fs-xsm: 10px;
    --fs-sm: 12px;
    --fs: 14px;
    --fs-lg: 16px;
    --fs-xlg: 18px;

    --verde:#22C55E;
    --verde-light: #b8f2c8;
    --verde-hover:#1ca74f;
    --verde-soft:#EAFBEF;

    --amarillo: #FFC107;
    --amarillo-light: #FFE082;
    --amarillo-hover: #E0A800;
    --amarillo-soft: #FFF8E1;

    --celeste: #a1c7ff;
    --celeste-soft: #e1ebfa;
    --celeste-soft-border: #cbd7e9;

    --gris: #CBD5E1;
    --gris-hover: #94A3B8;
    --gris-soft: #eeeeee;

    --rojo: #EF4444;
    --rojo-hover: #DC2626;
    --rojo-soft: #FEE2E2;

    --azul: #3B82F6;
    --azul-hover: #2563EB;
    --azul-soft: #DBEAFE;

    --warning: #EF4444;
    --warning-hover:#ee3434;
    --bg:#F8FAF9;
    --surface:#FFFFFF;

    --text:#111827;
    --text-soft:#6B7280;
    --border:#E5E7EB;
    --radius:10px;
    --space-1: 1px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --shadow: 0 1px 2px rgba(0,0,0,.04);
}

/* MODO OSCURO */
[data-theme="dark"]{
    --bg:#0F1412;
    --surface:#151A17;
    --text:#F3F4F6;
    --text-soft:#9CA3AF;
    --border:#243029;
    --verde:#093d1c;
    --verde-soft:#1A2B20;
    --shadow:none;
}