html, body, *, *::before, *::after{
transition:
    background-color .5s ease,
    color .5s ease,
    border-color .5s ease,
    fill .5s ease,
    stroke .5s ease,
    box-shadow .5s ease;
}

body{
    margin:0;
    height:100%;
    overflow:hidden;
    background:var(--bg);
    color:var(--text);
    font-size:var(--fs);
}

/* ------------------------------------------------------ */

/* MODO NORMAL */
:root{
    --fs-xsm: 10px;
    --fs-sm: 12px;
    --fs: 14px;
    --fs-lg: 16px;
    --fs-xlg: 18px;

    --verde:#22C55E;
    --verde-light: #b8f2c8;
    --verde-hover:#6d947b;
    --verde-soft:#EAFBEF;

    --celeste: #a1c7ff;
    --celeste-soft: #e1ebfa;
    --celeste-soft-border: #cbd7e9;

    --gris: #CBD5E1;
    --gris-hover: #94A3B8;
    --gris-soft: #eeeeee;

    --rojo: #EF4444;
    --rojo-hover: #DC2626;
    --rojo-soft: #FEE2E2;

    --azul: #3B82F6;
    --azul-hover: #2563EB;
    --azul-soft: #DBEAFE;

    --warning: #EF4444;
    --warning-hover:#ee3434;
    --bg:#F8FAF9;
    --surface:#FFFFFF;

    --text:#111827;
    --text-soft:#6B7280;
    --border:#E5E7EB;
    --radius:10px;
    --space-1: 1px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --shadow: 0 1px 2px rgba(0,0,0,.04);
}

/* MODO OSCURO */
[data-theme="dark"]{
    --bg:#0F1412;
    --surface:#151A17;
    --text:#F3F4F6;
    --text-soft:#9CA3AF;
    --border:#243029;
    --verde:#093d1c;
    --verde-soft:#1A2B20;
    --shadow:none;
}


/* ------------------------------------------------------ */

/* CONTENEDOR DE MODO OSCURO/CLARO */
.modos{
    display:flex;
    flex-direction:column;
    align-items: center;
    color:var(--text-soft);
}

/* ------------------------------------------------------ */

/* BOTONES DE MODOS */
.theme-toggle{
    position:relative;
    width:32px;
    height:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid var(--border);
    border-radius:10px;
    background:var(--surface);
    color:var(--text);
    cursor:pointer;
    overflow:hidden;
    box-shadow:var(--shadow);

    transition:
        transform .25s ease,
        background-color .35s ease,
        color .35s ease,
        border-color .35s ease,
        box-shadow .35s ease;
}

.theme-toggle::before{
    content:"";
    position:absolute;
    inset:0;
    background: linear-gradient( 145deg, rgba(255,255,255,.18), transparent 55%);
    opacity:0;
    transition:.35s;
    pointer-events:none;
}

.theme-toggle i{
    font-size: var(--fs-lg);
    transition: transform .45s cubic-bezier(.2,.8,.2,1), color .35s ease;
}

/* Hover */
.theme-toggle:hover{
    background:var(--bg);
    color:var(--text);
    border-color:var(--border);
    transform:translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.theme-toggle:hover::before{ opacity:1; }
.theme-toggle:hover i{ transform:rotate(-18deg) scale(1.12); }
.theme-toggle:active{ transform:translateY(0) scale(.90); transition-duration:.08s; }
.theme-toggle:active i{ transform:rotate(180deg) scale(.9); }
.theme-toggle:focus-visible{ outline:none; }
[data-theme="dark"] .theme-toggle{ color:#FACC15; }
[data-theme="dark"] .theme-toggle:hover{ background:#f3db00; color:white; border-color: none; }

/* ------------------------------------------------------ */

.content{
    height:100vh;
    display:flex;
    flex-direction:column;
    min-height:0;
    overflow:hidden;
    flex-grow:1;
}

#contenido-dinamico{
    flex:1;
    display:flex;
    flex-direction:column;
    min-height:0;
    overflow:hidden;
    padding:var(--space-3);
    background:var(--bg);
}

/* ------------------------------------------------------ */

.sidebar-title{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 30px;
    padding: 0 14px 8px 14px;
    font-weight: bold;
    text-align: center;
    background:var(--surface);
    border-bottom: 1px solid var(--border);
    font-size: 20px;
    border-right: none;
}

/* ------------------------------------------------------ */

.sidebar{
    width:130px;
    min-width:10px;
    display:flex;
    flex-direction:column;
    height:100vh;
    overflow-y:auto;
    background:var(--surface);
    border-right:1px solid var(--border);
    scrollbar-width:none; /* thin (pequenio) */
    scrollbar-color:var(--text-soft) transparent;
}

.sidebar-menu{
    flex:1;
    padding:var(--space-2);
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.sidebar-section{
    /* font-size:11px;
    font-weight:600;
    color:var(--text-soft);
    padding:var(--space-2) var(--space-3);
    text-transform:uppercase;
    letter-spacing:.04em; */
    display: none; /* oculto */
} 

/* ------------------------------------------------------ */

.sidebar-link,
.submenu a{
    display:flex;
    align-items:center;
    flex-direction: column;
    padding: 4px 12px;
    border-radius:var(--radius);
    font-size:var(--fs-sm);
    text-decoration:none;
    color:var(--text-soft);
    /* background: #e6e8ff; */
    transition:background .15s ease, color .15s ease;
}

i{ font-size: var(--fs-xlg) }
hr{ height: 0px; margin: 0 0; } /* Espaciador */

.sidebar-link:hover, .submenu a:hover{ background:var(--verde-soft); color:var(--verde); }
.sidebar-link.active, .submenu a.active{ background:var(--verde-soft); color:var(--verde); font-weight:600; }

#titulo{
    font-weight:600;
    color:var(--text);
    /* letter-spacing: var(--space-1); */
}

.topbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 14px 0 14px;
    background:var(--surface);
    border-bottom:1px solid var(--border);
    border-left: none;
    height: 30px;
    font-size: var(--fs);
}

.btn-login{
    background:var(--warning);
    color: var(--surface);
    border:none;
    padding: 0 10px;
    border-radius:var(--radius);
    font-size:var(--fs);
    cursor:pointer;
    transition:.25s ease;
}

.btn-login:hover{ transform:translateY(1px); background: var(--warning-hover); }

/* ################################################################################################################################# *//* ################################################################################################################################# */
/* ################################################################################################################################# */
/* ################################################################################################################################# */

/* [TABLAS.CSS] */

/* ---------------------------------------------------------------------- */

/* PADRE */
.dataTables_wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

/* HIJO */
.dataTables_scroll{
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.dataTables_scrollBody{
    flex: 1;
    min-height: 0;
    overflow-y: auto !important;
    scrollbar-color:#c8d1dc transparent;
    scrollbar-width:thin;
}

.dataTables_scrollFoot{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-8px);
    transition:
        max-height .4s ease,
        opacity .2s ease .2s,
        transform .5s ease;
}

.dataTables_scrollFoot th { border: none; }
.dataTables_scrollFoot input { color: var(--text); }

.dataTables_scrollFoot.activo{
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
    transition:
        transform .4s ease,
        opacity .2s ease,
        max-height .4s ease;
}

---------------------------------------------------------------- */

/* elimina micro gaps por subpixel rendering */
.dataTables_scrollBody { margin-top: -1px; }
.table{ margin: 0 auto; white-space: nowrap;}
table.dataTable thead th::before, table.dataTable thead th::after{ display: none !important; }

/* ---------------------------------------------------------------------- */

.card{
    padding: var(--space-2);
    min-height: 0;
    height: 100vh;
}

/* Columna th (Titulo )*/ 
.table thead th{ 
    color: var(--text);
    text-align: center !important;
    vertical-align: middle !important;
    letter-spacing: var(--space-1);
    font-size: var(--fs);
    padding: 8px 2px !important;
    background: linear-gradient(
    0deg,
    color-mix(in srgb, var(--gris-hover) 30%, transparent),
    var(--surface)
);
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204) !important;
}


/* Columna th (Contenido)*/ 
.table td{
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    text-align: center !important; /* Horizontal */
    vertical-align: middle !important; /* Vertical */
    font-size: var(--fs-sm);
    padding: 6px 0 !important;
    border: none;
    /* border: 1px solid black; */
    color: var(--text);
    /* border-bottom: 1px solid rgb(230, 230, 230) !important; */
}

.dataTables_scrollBody thead th{
    padding:0 !important;
    border:none !important;
    height:0 !important;
    line-height:0 !important;
}

tbody tr:hover td{ background:var(--celeste-soft); transition:.10s; }

/* ---------------------------------------------------------------------- */

td:last-child{  white-space: nowrap; }/* Btn horizontales */
.dataTables_length, .dataTables_filter, .dataTables_info{ font-size: var(--fs-sm);  }
.form-select{ padding: 2px 20px 2px 6px;}

.dataTables_filter .form-control{
    font-size: var(--fs-sm);
}

.dataTables_info{
    justify-content: center;
    flex: 1;
    text-align: center !important;
    display: flex;
    align-items: center;
    padding: 0 !important;

}

.page-link { font-size: var(--fs-sm); transition: all .2s ease; padding: 2px 10px;}

.page-link:hover {
    background: var(--celeste-soft);
    border-color: var(--celeste-soft);
    transform: translateY(-1px);
}

.page-link:active { transform: scale(0.96); }

.page-item.active .page-link {
    background: var(--celeste);
    color: var(--text);
    border-color: var(--celeste-soft);
}

/* ---------------------------------------------------------------------- */

.top { flex-shrink: 0; display: flex; justify-content: space-between; }
.bottom { flex-shrink: 0; display: flex; justify-content: space-between; }

/* ---------------------------------------------------------------------- */

table.dataTable tfoot th,
table.dataTable tfoot td{
    padding: 2px !important;
    margin: 0 !important;
    border-top: 0 !important;
}

/* INPUTS Y SELECTS */
table.dataTable tfoot input,
table.dataTable tfoot select{
    margin: 0 !important;
    padding: 2px 6px !important;
    min-height: 22px !important;
    height: 22px !important;
    justify-content: center;
    font-size: var(--fs-sm);
    line-height: 1 !important;
    border-radius: 4px !important;
    color: var(--text-soft);
}

/* QUITAR ESPACIO EXTRA */
/* table.dataTable tfoot{
    padding: 0 !important;
    margin: 0 !important;
} */

/* ---------------------------------------------------------------------- */

@keyframes waterIn {
    from{ opacity:0; transform: translateX(-15px); }
    to{ opacity:1; transform: translateX(0); }
}

.animacion-fila{ opacity: 0; animation: waterIn .2s ease forwards; }

/* ################################################################################################################################# *//* ################################################################################################################################# */
/* ################################################################################################################################# */
/* ################################################################################################################################# */

/* [BtnToggle.CSS] */

.dropdown-toggle, .btn-agregar, .toggle-btn{
    min-width: 160px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 14px;

    background:var(--surface);
    color: var(--text);
    font-weight: bold;

    border:1px solid #d1d5db;
    border-radius: 8px;

    font-size: var(--fs);

    cursor:pointer;
    margin-bottom: 10px;

    transition:
        background .2s ease,
        border-color .2s ease,
        box-shadow .5s ease,
        transform .3s ease;
}

.dropdown-toggle:hover{
    background: var(--celeste-soft);
    border: 1px solid var(--celeste-soft-border); 
}

.dropdown-toggle:active{ transform:scale(.9); box-shadow: 0 8px 20px rgba(0,0,0,.08); }
.dropdown-toggle:focus{ border: 2px solid var(--celeste-soft-border); }

/* ============================
   MENÚ
============================ */

.dropdown-menu{
    min-width: 160px;
    display:block;
    opacity:0;
    visibility:hidden;
    transform: translateY(-8px) scale(.98);
    max-height: 60vh;
    overflow:hidden;
    border:none;
    border-radius:6px;
    background:#ffffff;
    box-shadow:
        0 12px 35px rgba(15,23,42,.10),
        0 3px 10px rgba(15,23,42,.05);
        padding: 10px 10px !important;

    transition:
        opacity .3s ease,
        visibility .6s;
}

.dropdown-menu.show{
    opacity:1;
    visibility:visible;
}


/* ============================
   SCROLL
============================ */

.dropdown-columns{ overflow-y: auto; }
.dropdown-columns::-webkit-scrollbar{ scrollbar-width: none; }

/* ============================
   OPCIONES
============================ */

.dropdown-columns .form-check{
    display: flex;
    align-items: center;
    min-width: 20px;
    gap: 10px;
    margin:0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor:pointer;
    transition:
        background .20s,
        transform .18s;
}

.dropdown-columns .form-check:hover{ background: var(--celeste-soft); transition:.10s; }
.dropdown-columns .form-check-input{ cursor:pointer; margin:0; }
.dropdown-columns .form-check-label{ cursor:pointer; color:var(--text); font-size:var(--fs); }

.form-check-label{ width: 100%; height: 100%; }

/* ============================
   CHECKBOX
============================ */

.form-check-input{
    width:17px;
    height:17px;
    border-radius:6px;
    border:1px solid #cbd5e1;
    transition:.2s;
}

.form-check-input:checked{ background-color:#2563eb; border-color:#2563eb; }

/* ============================
   ANIMACIÓN CASCADA
============================ */

.dropdown-menu.show .form-check{ animation:waterIn .28s ease both; }
.dropdown-menu.show .form-check:nth-child(1){animation-delay:.02s;}
.dropdown-menu.show .form-check:nth-child(2){animation-delay:.04s;}
.dropdown-menu.show .form-check:nth-child(3){animation-delay:.06s;}
.dropdown-menu.show .form-check:nth-child(4){animation-delay:.08s;}
.dropdown-menu.show .form-check:nth-child(5){animation-delay:.10s;}
.dropdown-menu.show .form-check:nth-child(6){animation-delay:.12s;}
.dropdown-menu.show .form-check:nth-child(7){animation-delay:.14s;}
.dropdown-menu.show .form-check:nth-child(8){animation-delay:.16s;}
.dropdown-menu.show .form-check:nth-child(9){animation-delay:.18s;}
.dropdown-menu.show .form-check:nth-child(10){animation-delay:.20s;}
.dropdown-menu.show .form-check:nth-child(11){animation-delay:.22s;}
.dropdown-menu.show .form-check:nth-child(12){animation-delay:.24s;}

/* @keyframes entrada{
    from{ opacity:0; transform: translateX(-15px); }
    to{ opacity:1; transform: translateX(0); }
} */


.btn-agregar {
    transition:
        background .2s ease,
        border-color .2s ease,
        box-shadow .5s ease,
        transform .3s ease;
}

.btn-agregar:hover{
    background: var(--celeste-soft);
    border: 1px solid var(--celeste-soft-border); 
}

.btn-agregar:active{ transform:scale(.9); box-shadow: 0 8px 20px rgba(0,0,0,.08); background: var(--celeste); border: 1px solid var(--celeste-soft); }
.btn-agregar:focus{ border: 1px solid var(--celeste-soft-border); }

.togglecheck:checked + .toggle-btn {
    background: var(--verde);
    border-color: var(--verde-hover);
    color: var(--surface);
    justify-content: center;
}

.togglecheck:not(:checked) + .toggle-btn {
    background: var(--rojo);
    border-color:var(--rojo-hover);
    color: var(--surface);
    justify-content: center;
}

.toggle-btn:hover{
    background:#334155;
    border-color:#475569;
}

/* ################################################################################################################################# *//* ################################################################################################################################# */
/* ################################################################################################################################# */
/* ################################################################################################################################# */

/* [Botones.CSS] */

/* CONFIGURACION GENERAL DEL BTN */

.btn-detalle, .btn-editar, .btn-baja, .btn-alta, .btn-transferir{
    transition: all 0.15s ease;
    background: transparent;
    border: none;
    padding: 0 6px;
}

/* COLORES DE BTN */

.btn-detalle { color: var(--azul); }
.btn-editar { color: var(--azul); }
.btn-baja { color: var(--rojo); }
.btn-alta {color: var(--azul);}
.btn-transferir { color: var(--verde);}

/* HOVER */

.estado:hover,
.btn-detalle:hover,
.btn-editar:hover, 
.btn-baja:hover,
.btn-alta:hover,
.btn-transferir:hover
    { transform: scale(1.6); }

/* AL PRESIONAR  */

.btn-detalle:active,
.btn-editar:active, 
.btn-baja:active,
.btn-alta,
.btn-transferir:active
    { transform: scale(0.95); }





.estado{ display: flex; justify-content: center; transition: all 0.15s ease; cursor: pointer; }
.estado-inactivo i{ color: var(--rojo); font-size: var(--fs-xlg);  }
.estado-activo{ color: var(--verde); }
.estado-inactivo{ color: var(--rojo); }