/* resources/css/compras/Compras.css */

.container-fluid{ height: 70vh; border: 1px solid black; } /* Contenedor Principal */
/* ---------------------------------------------------------------------------------- */
/* ═════════════ ( SELECTORES ) ═══════════════ */
.select2-selection__rendered{ font-size: 14px; }/* Selector2 */
.select2-results__options{ font-size: 14px; max-height: 45vh !important; overflow-y: auto; } /* Selector2 opciones */
.form-select, .form-control{ font-size: 14px; } /* Selector Comun */
/* ---------------------------------------------------------------------------------- */
/* ═════════════ ( TABLA ) ═══════════════ */
/* .table thead th{ text-align: center !important; padding: 0; } Titulo Tabla */
.carrito-container .card-body{ max-height: 45vh; overflow-y: scroll; overflow-x: hidden; } /* Contenedor de Tabla */
.table input{ font-size: 14px; width: 60%; text-align: center; margin: 0 auto; display: block; } /* Input Tabla Producto */
.eliminar { height: 25px; width: 50px; padding: 0; font-size: 16px; } /* Btn Eliminar */
.table input[type=number]::-webkit-outer-spin-button, .table input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none; margin: 0; } /* Quitar flechas de los inputs "type=number" */
/* ---------------------------------------------------------------------------------- */

.a .precio, .a .cantidad{
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgb(187, 187, 187);
}

.Contenedor-General{
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100vh; 
    min-height: 0;
    overflow: hidden;
    animation: aparecerSuave .35s ease;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #1f2937;
    padding: 10px;
}

.form-label, .row{margin: 0 !important; padding: 0 !important;}
.small{font-weight: 500;}

.Contenedor-Selector{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    height: fit-content;
    max-width: 100%;
    background-color: white;
}

.Contenedor-Productos{
    display: flex;
    flex-wrap: nowrap; 
    align-items: end; 
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.Contenedor-Productos > div{ flex: 0 0 auto; }


.Contenedor-CarritoTotales{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* border: 2px solid white; */
    min-height: 0;
    overflow: hidden;
}

.a{
  padding: 0 5px 0 0; 
}

.b{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
    background-color: beige;
}


.Contenedor-CarritoTotales{
    align-items: stretch; /* iguala altura */
}

/* evita espacios raros en tabla */
#tabla_carrito{
    margin-bottom: 0;
}

/* asegura botones abajo real */
.card-body{
    display: flex;
    flex-direction: column;
}