

.exportacion-body{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; /* ← evita desbordamiento horizontal */

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-secondary{ color: var(--text); }

.row{ margin-left: 0 !important; margin-right: 0 !important; }

.card{ border-radius: 14px; }

.upload{
    border: 2px dashed #4b5563;
    border-radius: 12px;
    padding: 25px 15px;
}

.border-secondary{background: var(--bg); }
.btn{ border-radius: 10px; font-weight: 600; }
.btn-check:checked + .btn{ transform: scale(.98); }
